.header-inner {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        
        a {
            font-weight: bold;
            font-size: 30px;
            text-decoration: none;
            border-bottom: 2px solid $red;
        }
        
    }

    .right {

        .nav-list {
            
            li {
                padding: 0 20px;
                display: inline-block;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                }
            }

            li:hover {
                a {
                    color: $red;
                }
            }
            
        }
    }
}