// TITLE
#title {
    padding-top: 100px;

    .title-container {
        #hello {
            font-size: 90px;
            font-weight: bold;
        }

            
    }
}
// end TITLE

// BURGER-MENU
#burger-menu {
    display: none;
}
// end BURGER-MENU

.web-developer {
    padding-bottom: 65px;
}

// NAVBAR 
._navbar {
    a {
        text-transform: uppercase;
        padding-right: 20px;
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: $red;
    }
}
// END NAVBAR

// ABOUT ME
#about {
    padding-bottom: 50px;

    .section-title-container {
        margin: 80px 0 50px 0;
    }

    .about-me {
        display: flex;
        align-items: center;

        .about-img-container {
            width: 40%;

            img {
                width: 100%;
                padding: 20px;
            }
        }

        p {
            width: 50%;

            a {
                color: white;
            }
        }
    }
}
// END ABOUT ME

// PORTFOLIO
#portfolio {
    margin-top: 150px;

    .project-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 50px 0;
        border-bottom: 2px solid white;

        .project-title-container {
            width: 50%;
            padding-right: 80px;

            .logos-container {

                .logos-list {
                    margin-top: 10px;

                    li {
                        display: inline-block;
    
                        i {
                            font-size: 20px;
                            color: white;
                        }
                    }
                }
                
            }

            .description {
                margin-top: 15px;
            }
        }

        .img-container {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .main-carousel {
            width: 50%;

            .carousel-cell {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

    }

    div:last-child {
        border-bottom: 0;
    }
}
// end PORTFOLIO



// CONTACTS
#contacts {
    padding-bottom: 50px;

    .section-title-container {
        margin: 120px 0 50px 0;
    }

    .contacts-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 15%;
        margin: auto;
        font-size: 30px;
    }
}
// END CONTACTS

#backtotop-container {
    text-align: right;
    position: relative;
    bottom: 25px;
    right: -230px;
    font-size: 25px;
    cursor: pointer;

    i:hover {
        transform: scale(1.4);
    }
}