// TITLE
#title {
    padding-top: 220px;

    .title-container {
        max-width: 95%;
    
        #hello {
            font-size: 115px;
        }

            
    }
}
// end TITLE

.web-developer {
    padding-bottom: 140px;
}

.navbar {
    a {
        text-transform: uppercase;
        padding-right: 20px;
        text-decoration: none;
        color: white;
    }
}

// PORTFOLIO
#portfolio {
    margin-top: 250px;

    .project-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 50px 0;
        border-bottom: 2px solid white;

        .project-title-container {
            width: 50%;
            padding-right: 80px;

            .logos-container {

                .logos-list {
                    margin-top: 10px;

                    li {
                        display: inline-block;
    
                        i {
                            font-size: 20px;
                            color: white;
                        }
                    }
                }
                
            }

            .description {
                margin-top: 15px;
                // padding-right: 20px;
            }
        }

        .swiper-container {
            width: 50%;

            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 100%;
                    }
                }
            }
        }

    }

    div:last-child {
        border-bottom: 0;
    }
}
// end PORTFOLIO