// smartphone
@include media-sm {
    .app-wrapper {

        p {
            line-height: 20px;
        }
        
        header {
            .header-content {
                .menu {
                    display: none;
                }

                #burger-menu {
                    display: block;
                    color: white;

                    i {
                        font-size: 20px;
                    }
                }

                .contacts-list-desktop {
                    display: none;
                }
            }

            #burger-menu-list-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                top: 0;
                left: -750px;
                transition: .4s;
                background-color: #141313ed;
                width: 100%;
                height: 100vh;

                .burger-menu-list {
                    text-align: center;

                    li {
                        list-style-type: none;
                        font-size: 22px;
                        margin: 30px 0;
    
                        a {
                            color: $green;
                        }
                    }
                }  

                .contacts-list {
                    display: flex;
                    font-size: 30px;

                    .mail, .github {
                        margin: 0 20px;
                    }
                }
            }

            .show {
                left: 0!important;
            }
            
        }

        .hero {
            .hero-content {
                .icon-container {
                    display: none;
                }
            }
        }

        .container {
            width: 90%;
        }

        .projects {
            flex-direction: column;

            .project-item {
                width: 100%;
            }
        }
       

        #about-me {
            padding: 0;
            .about-me-content {
                flex-direction: column;

                .about-me-text {
                    width: 100%;
                }

                .photo {
                    width: 80%;
                    margin-top: 50px;
                }
            }
        }
        
    }
    
}

// tablet
@include media-md {
    .app-wrapper {
        .container {
            width: 90%;
        }

        p {
            line-height: 20px;
        }

        header {
            .header-content {
                .menu {
                    display: none;
                }

                #burger-menu {
                    display: block;
                    color: white;

                    i {
                        font-size: 20px;
                    }
                }

                .contacts-list-desktop {
                    display: none;
                }
            }

            #burger-menu-list-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                top: 0;
                left: -1000px;
                transition: .4s;
                background-color: #141313ed;
                width: 100%;
                height: 100vh;

                .burger-menu-list {
                    text-align: center;

                    li {
                        list-style-type: none;
                        font-size: 22px;
                        margin: 30px 0;
    
                        a {
                            color: $green;
                        }
                    }
                }

                .contacts-list {
                    display: flex;
                    font-size: 30px;

                    .mail, .github {
                        margin: 0 20px;
                    }
                }
            }

            .show {
                left: 0!important;
            }
        }

        .projects {

            .project-item {
                width: calc(100%/2);
            }
        }
    }

    #title {
        .title-container {
            #hello {
                font-size: 80px;
            }
        }
    }

    #fade-in {

        .web-developer {
            padding-bottom: 40px;
        }

        #about {
            .about-me {
                flex-direction: column;
    
                .about-img-container {
                    width: 100%;
                }
    
                p {
                    width: 100%;
                }
            }
        }

        #portfolio {
            margin-top: 75px;
    
            .project-container {
                flex-direction: column;
    
                .project-title-container {
                    width: 100%;
                    padding: 0;
                    text-align: center;
                }
    
                .img-container {
                    padding-top: 50px;
                    width: 100%;
                }

                .main-carousel {
                    width: 100%;
                    padding-top: 50px;
                }
            }
        }

        #backtotop-container {
            right: -90px;
        }
    }

    
}

// laptop
@include media-lg {
    #title {
        padding-top: 45px;

        .title-container {

            #hello {
                font-size: 60px;
            }
        }
    }

    .web-developer {
        padding-bottom: 40px;
    }

    #about {
        .section-title-container {
            margin: 50px 0 50px 0;
        }
    }

    #contacts {
        .linkedin {
            padding: 0 30px;
        }
    }

    #backtotop-container {
        right: -150px;
    }


}